.char-filter {
    justify-content: center;
}

.char-filter-content {
    display: flex; 
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    border-radius: 25px;
    justify-content: space-around;
}

.filter-text {
    font-size: 2vw;
}